
/* table of contents

  1. global

  2. header

  3. play area

  4. how to play

  5. footer

  6. javascript

 */


/* 1. global */
* {
  font: 20px/1.5 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  color: #707B7C;
}

.container {
  width: 60%;
  margin: auto;
}

.content {
  padding: 0 15%;
  display: flex;
  flex-direction: row;
}

/* 2. header */
header {
  margin-top: 25px;
}


/* 3. play area */
#play-area {
  width: 100%;
  text-align: center;
}


#play-area td {
  cursor: pointer;
  border: #707B7C solid 1px;
}

#play-area table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 500px;
}

#play-area td:hover {
  background: #FEF9E7;
}

#sudoku {
  margin-bottom: 10px;
}

#sudoku table {
  border: black solid 3px;
}

#sudoku td {
  text-transform: uppercase;
}

#sudoku tr:nth-child(4n) {
  border-bottom: black solid 3px;
}

#sudoku td:nth-child(4n) {
  border-right: black solid 3px;
}

#buttons {
  display: flex;
  flex-direction: row;
}

#buttons table{
  width: 100%;
}

#function-pad {
  display: flex;
  flex-direction: column;
}

#function-pad #solve {
  border-top: none;
}



/* 4. how to play */
#how-to-play {
  margin: 30px;
}

#title, #instructions, #rules {
  flex-wrap: wrap;
  padding: 15px;
}

#how-to-play #rules {
  padding-left: 30px;
}

#how-to-play h1 {
  font-weight: bold;
  letter-spacing: 4px;
  color: #5DADE2;
}

#how-to-play p, #how-to-play li {
  font-size: 13px;
}



/* 5. footer */


/* 6. javascript */
.correct-color {
  color: #5DADE2;
}

.wrong-color {
  color: #EC7063;
}

.selected-color {
  background: #FCF3CF;
}

.invalid-color {
  background: #F2D7D5;
}