/*** table of contents ***/

/** 1. global
 *  2. header
 *  3. play area
 *   3.1 sudoku
 *   3.2 keypad
 *   3.3 options
 *  4. javascript color index */


/*** 1. global ***/
* {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  color: #707B7C;
}

html {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  display: grid;
  grid-template-rows: 1fr 12fr;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 0 10px 6px #ccc;
  background-image: linear-gradient(45deg, #76D7C4, #A3E4D7, #D1F2EB);
}


/*** 2. header ***/

header{
  display: grid;
  grid-template-rows: repeat(2, auto);
}


header #menu-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

#menu-bar button {
  font-size: 8px;
  background: #A3E4D7 !important;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 8px;
}

#menu-bar button:hover {
  background: #76D7C4 !important;
}


header #stopwatch{
  text-align: center;
}


/*** 3. play area ***/
#play-area {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
}

#play-area td:hover, button:hover {
  background: lightslategray !important;
  color: #F4F4F4;
  cursor: pointer;
}

#play-area table {
  width: 100%;
}

/*** 3.1 sudoku ***/
#sudoku {
  padding-bottom: 10px;
}

#sudoku tr:nth-child(4n) {
  border-bottom: #707B7C solid 3px;
}

#sudoku tr:last-child {
  border: none;
}

#sudoku colgroup{
  border-right: #707B7C solid 3px;
}

#sudoku tbody:first-child, #sudoku tbody:last-child {
  border: none;
}

#sudoku table {
  border-collapse: collapse;
  table-layout: fixed;
}

#sudoku td {
  text-transform: uppercase;
  font-size: 15px;
  height: 33px;
  border: #707B7C solid 1px;
}


/*** 3.2 keypad ***/
#keypad {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 2fr);
  justify-self: center;
  padding-bottom: 10px;
}

#keypad button {
  font-size: 25px;
  font-weight: bold;
  width: 45px;
  height: 45px;
  border: #707B7C solid 1px;
  border-radius: 50%;
  background: #A3E4D7;
  outline: none;
}

/*** 3.3 options ***/
#options{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 2%;
}

#options button {
  font-size: 9px;
  background: #A3E4D7 !important;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

#options button:hover {
  background: #76D7C4 !important;
}


/*** 4. javascript color index ***/
.setter-color {
  color: ghostwhite;
  background: #76D7C4;
}

.correct-color {
  color: #707B7C;
}

.wrong-color {
  color: #E74C3C !important;
  background: #F2D7D5 !important;
}

.selected-color {
  color: ghostwhite !important;
  background-color: lightslategray !important;
}

.invalid-color {
  color: ghostwhite;
  background: #F2D7D5 !important;
}