/* Global */
* {
  font: 20px/1.5 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  color: #707B7C;
}

.container {
  width: 50%;
  margin: auto;
}


/* Header */
header {
  margin-top: 50px;
}


/* Play Area */
#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

#content td:hover {
  background: #FEF9E7;
}

#sudoku {
  margin-right: 15px;
}

#sudoku table {
  border-collapse: collapse;
  min-width: 600px;
  border: black solid 3px;
  cursor: pointer;
}

#sudoku td {
  width: 35px;
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  border: #707B7C solid 1px;
}

#sudoku tr:nth-child(4n) {
  border-bottom: black solid 3px;
}

#sudoku td:nth-child(4n) {
  border-right: black solid 3px;
}

#keypad table {
  border-collapse: collapse;
}


#keypad td {
  border: solid 1px;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.button-group button:not(:last-child) {
  border-right: none;
}


/* How to Play */
#title, #instructions, #rules {
  padding-top: 20px;
}

#how-to-play h1 {
  font-weight: bold;
  letter-spacing: 4px;
  color: #5DADE2;
}

#how-to-play p, #how-to-play li {
  font-size: 13px;
}


/* Footer */


/* JavaScript Functions */
.correct-color {
  color: #5DADE2;
}

.wrong-color {
  color: #EC7063;
}