/*** table of contents ***/

/** 1. global
 *
 */

/*** 1. global ***/
* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    color: #707B7C;
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}