/*** table of contents ***/

/** 1. global
 *  2. top bar
 *  3. content
 *     3.1 schedule
 *     3.2 options
 */


/*** 1. global ***/
* {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    color: #707B7C;
}

html {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px #CCCCCC;
    background-image: linear-gradient(45deg, #F7DC6F, #F9E79F, #FCF3CF);
}


/*** top bar ***/
#top-bar {
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
}

#top-bar input {
    width: 95%;
    text-align: center;
}


/*** content ***/
#content {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 15px;
}


/*** options ***/
#options {
    display: grid;
    grid-template-rows: auto;
    padding: 15px;
}

#options button {
    text-align: left;
    padding: 10px;
}

/*** schedule ***/
#schedule table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

#schedule td {
    width: 100px;
    padding: 10px;
    border: solid 1px;
}


